html, body {
    height: 100%;
    font-family: 'Bitter', serif;
}

#body01 {
    min-height:100%;
    position:relative;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}




/*********** NAVBAR ***********/

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C92219;
}

#navbar li {
    float: left;
}

#navbar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: #db251b;
    text-decoration: underline;
}

#navbar li.dropdown {
    display: inline-block;
}

#navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ECECEC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#navbar .dropdown-content a:hover {background-color: #f1f1f1}

#navbar .show {display:block;}

#navbar .verticalSeparator {
    margin: 14px 0px;
    width: 4px;
    background-color: white;
    height: 18px;
    float: left;
}

#navbar #title {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}



/********** CONTENT ************/

#content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width:100%;
}

/* KESKIMMÄINEN SARAKE */
#content01 {
    order: 1;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.sivuotsikot {
    width: 100%;
    color: #99CCDD;
    text-align: center;
}

.column {
    width: 90%;
    margin: auto;
}

.tablediv {
	max-width: 500px;
	max-height: 300px;
	overflow: scroll;
}

/* VERITILANNE */
#pisarat {
    order: 2;
    width: 50%;
    text-align: center;
    padding: 10px;
}

#pisarat #veritilanne {
    background-color: #ECECEC;
    padding: 5px;
    border: 1px solid black;
}

#pisarat li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

#pisarat span {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

/* TOP LISTA */
#topTEN {
    order: 3;
    width: 50%;
    padding: 10px;
}

#topTEN #tableContainer{
    background-color: #ECECEC;
    padding: 5px;
    border: 1px solid black;
}

#topTEN table {
    padding: 5px;
    width: 100%;
    text-align: left;
}

.boxHeader {
    border-bottom: 1px solid black;
    text-align: center;
}


/************ FOOTER **************/

footer {
    border: none;
    position: absolute;
    bottom: 0;
    margin-top: 30px;
    width: 100%;
    height: 60px;
    background: #ECECEC;
}

#login {
    float: right;
}



/************ SIVUKOHTAISET MUOTOILUT *************/

#chartdiv {
	width: 100%;
	height: 500px;
	background-color: #ECECEC;
	border-radius: 25px;
	margin-bottom: 10px;
}




/******************  MUUTOKSET ISOLLE NÄYTÖLLE  ********************/

@media screen and (min-width: 1122px) {
    #content {
        flex-wrap: nowrap;
    }

    /* KESKIMMÄINEN SARAKE */
    #content01 {
        order: 2;
        margin-top: 30px;
        width: 70%;
    }

    .sivuotsikot {
        width: 90%;
    }

    .column {
    }

    /* VERITILANNE */
    #pisarat {
        order: 1;
        width: 15%;
        padding: 15px;
    }

    #pisarat #veritilanne {
    }

    #pisarat li{
    }

    #pisarat span {
    }

    /* TOP LISTA */
    #topTEN {
        order: 3;
        width: 15%;
        padding: 15px;
    }

    #topTEN #tableContainer{
    }

    #topTEN table {
    }

    .boxHeader {
    }

}
